absl-py==1.0.0
accelerate @ git+https://github.com/huggingface/accelerate.git@f3b7f9cf25896d37bc851a572e14e447325d0062
aiohttp==3.8.1
aiosignal==1.2.0
alchemy-config==1.0.0
alchemy-language==0.0.13
alchemy-logging==1.1.1
anytree==2.7.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
assetframe-lib @ file:///tmp/ws-build/install/assetframe-lib-py-0.1.0.tgz
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.4.0
autoai-libs==1.14.9
autoai-ts-libs==1.2.4
autovizwidget==0.20.0
av==9.2.0
azure-core==1.25.0
azure-cosmos==4.3.0
backcall==0.2.0
beautifulsoup4==4.11.1
bitsandbytes==0.39.1
black==22.6.0
blinker==1.4
bokeh==2.4.3
boto3==1.24.28
botocore==1.27.28
Bottleneck==1.3.5
brotlipy==0.7.0
ca-data-connector @ file:///tmp/ws-build/install/ca-data-connector-python-11.2.4.tgz
cachetools==4.2.2
cassandra-driver==3.25.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.4
checksumdir==1.2.0
click==8.0.4
cloudpickle==2.1.0
cmake==3.27.0
cplex==22.1.0.0
cryptography==39.0.1
cx-Oracle==8.3.0
cycler==0.11.0
Cython==0.29.32
cytoolz==0.11.0
dask==2022.7.0
DataProperty==0.55.0
datasets==2.13.1
debugpy==1.5.1
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
dm-tree==0.1.5
docplex==2.23.222
dsx-core-utils @ file:///tmp/ws-build/install/dsx_core_utils-4.6.3.9.zip
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.16.2
filelock==3.6.0
fire==0.5.0
flashtext==2.7
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.2.0
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gensim==4.1.2
geomet==0.2.1.post1
google-auth==1.33.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.56.4
graphviz==0.20.1
greenery==3.3.3
greenlet==1.1.1
grpcio==1.42.0
grpcio-tools==1.42.0
h5py==3.6.0
hadoop-lib-utils @ file:///tmp/ws-build/install/hadoop_lib_utils-4.6.3.9.zip
hdijupyterutils==0.20.0
huggingface-hub==0.16.4
hyperopt==0.2.5
ibm-cloud-sdk-core==3.10.1
ibm-cos-sdk==2.12.0
ibm-cos-sdk-core==2.12.0
ibm-cos-sdk-s3transfer==2.12.0
ibm-db==3.1.3
ibm-db-sa==0.3.8
ibm-watson-machine-learning==1.0.286
ibm-watson-openscale==3.0.28
ibm-watson-studio-lib @ file:///tmp/ws-build/install/ibm-watson-studio-lib-py-3.0.12.tgz
idna==3.3
ijson==3.1.4
imagecodecs==2021.8.26
imageio==2.19.3
import-tracker==3.1.3
importlib-metadata==4.11.3
importlib-resources==5.10.0
iniconfig==1.1.1
iniparse==0.5
ipykernel==6.9.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itc-utils @ file:///tmp/ws-build/install/itc-library-python-0.1.16.tgz
JayDeBeApi==1.2.3
jedi==0.18.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.1
JPype1==1.4.0
jsonref==0.2
jsons==1.3.0
jsonschema==4.4.0
jsonsubschema==0.0.6
jtd==0.1.1
jtd-to-proto==0.6.1
jupyter==1
jupyter_client==7.3.5
jupyter_core==4.11.2
jupyterlab-widgets==1.0.0
keras==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
lale==0.7.1
lightgbm==3.3.2
lit==16.0.6
llvmlite==0.39.0
locket==1.0.0
lomond==0.3.3
loralib==0.1.1
lxml==4.9.2
Markdown==3.3.4
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
mbstrdecoder==1.1.1
memoized-property==1.0.3
mlxtend==0.20.0
mock==4.0.3
mpmath==1.3.0
msgfy==0.2.0
multidict==5.2.0
multiprocess==0.70.14
munch==2.5.0
munkres==1.1.4
mypy-extensions==0.4.3
mysql-connector-python==8.0.32
nbconvert==5
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8.4
nose==1.3.7
notebook==6.4.12
numba==0.56.1
numexpr==2.8.3
numpy==1.23.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
onnx==1.12.0
onnxconverter-common==1.9.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pathvalidate==2.5.2
patsy==0.5.2
peft @ git+https://github.com/huggingface/peft.git@b15c18593975d345b3857faba4860c0d68c5d287
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.5.2
plotly==5.9.0
pluggy==1.0.0
portion==2.3.0
POT==0.8.2
progressbar==2.5
project-lib @ file:///tmp/ws-build/install/project-lib-py-2.0.7.tgz
prometheus-client==0.14.1
prompt-toolkit==3.0.20
protobuf==3.19.6
psutil==5.9.0
psycopg2==2.8.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==8.0.0
py4j==0.10.9.7
pyahocorasick==1.4.4
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.15.0
pyDeprecate==0.3.2
Pygments==2.11.2
pyizumo==1.22.2
pyizumodp==1.22.2
pyjnius==1.4.2
PyJWT==2.4.0
pymssql==2.2.5
pynlplib==0.3.0
pynvml==11.5.0
pyodbc==4.0.34
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyrbras==0.4.0
pyrsistent==0.18.0
PySocks==1.7.1
pyspnego==0.3.1
pytablewriter==0.58.0
pytest==7.1.2
python-dateutil==2.8.2
pytorch-lightning==1.6.5
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
regex==2022.7.9
requests==2.28.1
requests-kerberos==0.14.0
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
sacremoses==0.0.43
safetensors==0.3.1
scikit-image==0.19.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.96
sib-clustering==0.2.0
simplejson==3.17.6
six==1.16.0
skl2onnx==1.12
smart-open==6.1.0
snapml==1.8.12
sortedcontainers==2.4.0
soupsieve==2.3.1
sparkmagic==0.20.0
SQLAlchemy==1.4.39
stack-data==0.2.0
statsmodels==0.13.2
strict-rfc3339==0.7
sympy==1.12
tabledata==1.3.0
tabulate==0.8.10
tcolorpy==0.1.2
tenacity==8.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.9.3
tensorflow-addons==0.17.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.8.0
tensorflow-probability==0.17.0
tensorflow-text==2.9.0
termcolor==1.1.0
terminado==0.13.1
text-extensions-for-pandas==0.2.0
tf-model-optimization-nightly==0.7.3.dev0
tf2onnx==1.12.0
threadpoolctl==2.2.0
tifffile==2021.7.2
tokenize-rt==5.1.0
tokenizers==0.11.4
tomli==2.0.1
toolz==0.11.2
topicmodeling==0.1.14
torch==2.0.1
torchmetrics==0.8.1
torchtext==0.13.1a0+35066f2
torchvision==0.13.1
tornado==6.2
tqdm==4.64.0
traitlets==5.1.1
transformers @ git+https://github.com/huggingface/transformers.git@3b734f5042a414d0520f56ce3a588cebc756a6db
tribble==0.4.4
triton==2.0.0
typeguard==2.12.0
typepy==1.3.0
typing_extensions==4.3.0
typish==1.9.3
urllib3==1.26.11
watson-core==1.24.1
watson-core-tools==1.4.3
watson-nlp==3.6.0
wcwidth==0.2.5
Werkzeug==2.2.3
widgetsnbextension==3.5.2
wrapt==1.14.1
xgboost==1.6.2
xlrd==2.0.1
xxhash==3.2.0
yarl==1.8.1
zipp==3.8.0
